/* New Background Styles */
body {
  background-color: #ffffff;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #11076b; /* Change font color to white */
  font-family: "Your Custom Font", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Container for the entire page */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Updated Search Result Styles */
.searchResult {
  display: flex;
  border: 2px solid #003cff;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 20px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchResult:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 17, 255, 0.2);
}

.searchResult__imageContainer {
  flex: 0.3;
  overflow: hidden;
  border-radius: 8px;
}
.image-home {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-home img {
  width: 100%;
  height: auto;
  display: block;
}

.id {
  background-color: rgb(97, 10, 209);
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .searchResult {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 10px 0;
  }

  .searchResult__info {
    text-align: center;
  }
}
