/* Base Styles */
.searchpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-right: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 20px;
  gap: 100px;
  padding-right: 20px;
}

/* Media query for screens with a minimum width of 768px (small tablets and larger) */
@media (min-width: 768px) {
  .logo {
    gap: 50px;
    padding-right: 10px;
  }
}

/* Media query for screens with a maximum width of 767px (smaller devices like phones) */
@media (max-width: 767px) {
  .logo {
    gap: 20px;
    padding-right: 5px;
  }
}

.searchPage__info {
  margin-top: 5%;
 padding-right: 50px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s forwards, slideIn 1s forwards;

  background-color: #fcfcfc;
  border-radius: 10px;
}


.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 20px;
  font-size: 24px;
}


/* Button Styles */
.searchPage__info > button {
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #090083;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.searchPage__info > button:hover {
  background-color: #ff4500;
}

/* Keyframes for Animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .searchPage__info {
    padding: 10px;
    border-radius: 5px;
  }

  .searchPage__info > p {
    font-size: 12px;
  }

  .searchPage__info > h1 {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .searchPage__info > button {
    margin: 5px;
    padding: 8px 15px;
  }
}
