/* Default Styles */
.searchPage__info {
  margin-top: 5%;
  padding: 20px;
  opacity: 0; /* Start with 0 opacity for the animation */
  transform: translateY(-20px); /* Move element up slightly */
  animation: fadeInUp 1s forwards, slideIn 1s forwards; /* Apply animations */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #ffffff;
  border-radius: 10px;
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.searchPage__info > button {
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #090083;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add smooth transition */
}

/* Hover effect for the button */
.searchPage__info > button:hover {
  background-color: #ff4500;
}

/* Keyframes for Fade-in and Slide-in Animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .searchPage__info {
    padding: 10px;
    border-radius: 5px;
  }

  .searchPage__info > p {
    font-size: 12px;
  }

  .searchPage__info > h1 {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .searchPage__info > button {
    margin: 5px;
    padding: 8px 15px;
  }
  #book-room {
    margin-top: 5%;
    font-size: 24px;
    margin-bottom: 15px;
  }
}
#book-room {
  margin-top: 15%;
  font-size: 24px;
  margin-bottom: 15px;
}