.footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer__links {
    margin-bottom: 10px;
  }
  
  .footer__links a {
    color: #1100ff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer__info {
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  /* Add responsive styles as needed */
  @media (max-width: 768px) {
    .footer__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .footer__links a {
      margin: 5px;
    }
  }
  